.fullscreen {
    left: 0;
    right: 0;
  width: 100%;
}
.col-xs-4 {
  background: green;
  margin: 0 auto;
  width:80%;
}

.center-block {
  float:none;
}
h3 {
  text-align:center;
  margin-top: 40px;
}
.example2 {
  margin-top: 20px;
}
/* Transparent
/*
/*.navbar-default {
  background: none;
  border: none;
}*/
