.btn-group {
    width:  100%;
    height: inherit;
}
button {
    width:  33.1%;
    height: inherit;
    margin: 0px;
}
@media (max-width: 700px) {
    [class*="btn-"] {
        width: 90%;
        margin-top: 2px;
        box-sizing: border-box;
        padding: 0;
    }   
}

.btn-toolbar {
    width: 100%;
}
