<div class="btn-toolbar" role="toolbar" aria-label="">
  <div class="btn-group" role="group" aria-label="">
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#o_nama_form" aria-expanded="false" aria-controls="dodavanje_korisnika_form"
      (click)="saveClickHistory($event)">
      O nama
    </button>
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#znacaj_davanja_krvi_form" aria-expanded="false"
      aria-controls="dodavanje_novosti_form" (click)="saveClickHistory($event)">
      Znacaj davanja krvi
    </button>
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#proces_davanja_krvi_form" aria-expanded="false"
      aria-controls="belezenje_davanja_form" (click)="saveClickHistory($event)">
      O procesu davanja krvi
    </button>
  </div>
  <div class="collapse" id="o_nama_form">
    <div class="card card-body">
      <app-o-nama-form></app-o-nama-form>
    </div>
  </div>
  <div class="collapse" id="znacaj_davanja_krvi_form">
    <div class="card card-body">
      <app-znacaj-davanja-krvi-form></app-znacaj-davanja-krvi-form>
    </div>
  </div>
  <div class="collapse" id="proces_davanja_krvi_form">
    <div class="card card-body">
      <app-proces-davanja-krvi-form></app-proces-davanja-krvi-form>
    </div>
  </div>
</div>
