<p>
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#dodavanje_korisnika_form"
          aria-expanded="false" aria-controls="dodavanje_korisnika_form" (click)="saveClickHistory($event)">
    Dodavanje korisnika
  </button>
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#dodavanje_novosti_form"
          aria-expanded="false" aria-controls="dodavanje_novosti_form" (click)="saveClickHistory($event)">
    Dodavanje novosti
  </button>
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#belezenje_davanja_form"
          aria-expanded="false" aria-controls="belezenje_davanja_form" (click)="saveClickHistory($event)">
    Belezenje davanja krvi
  </button>
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#brisanje_naloga_form"
          aria-expanded="false" aria-controls="brisanje_naloga_form" (click)="saveClickHistory($event)">
    Brisanje naloga
  </button>
</p>

<div class="collapse" id="dodavanje_korisnika_form">
  <div class="card card-body">
    <app-user-form></app-user-form>
  </div>
</div>
<div class="collapse" id="dodavanje_novosti_form">
  <div class="card card-body">
    <app-novost-form></app-novost-form>
  </div>
</div>
<div class="collapse" id="belezenje_davanja_form">
  <div class="card card-body">
    <app-blezenje-davanja-form></app-blezenje-davanja-form>
  </div>
</div>
<div class="collapse" id="brisanje_naloga_form">
  <div class="card card-body">
    cetvrti veliki neki pasusAnim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
    squid. Nihil anim
    keffiyeh
    helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
  </div>
</div>
