<div class="parent">
  <blockquote>
    <div class="text">

      <h1>Znacaj davanja krvi</h1>

      <h2>Трансфузијско лечење</h2>

      <p>Трансфузија крви је незамењив терапијски метод који још увек нема адекватну алтернативу. Крв садржи специфичну супстанцу-хемоглобин
        која веже кисеоник и преноси га у ткива помоћу незаменљивих црвених крвних зрнаца. Када болесник крвари губе се црвена
        крвна зрнца и ниво хемоглобина се смањује што смањује пренос кисеоника и угрожава најосетљивија ткива као што су
        мозак и срце. Крв је биолошки материјал а не класичан лек и зато нити може да се стандардизује, нити да се примењује
        без велике опрезности. Лечење болесника код којих постоји несташица сопствене крви још увек није могуће без добровољних
        давалаца крви.</p>

      <h2>Безбедност крви за трансфузију</h2>

      <p>Да би крв била безбедна за болесника који је прима, она не сме да садржи вирусе, узрочнике заразних болести као што
        су жутица-хепатитис и СИДА. Зато се крв сваког даваоца, сваки пут када да крв, подвргава специјалном тестирању. Данашњи
        тестови су толико усавршени да је ризик од преноса зараза путем крви скоро занемарљив.</p>

      <p>Ипак, пошто се стално откривају нови вируси, који се могу пренети крвљу ни ово тестирање не обезбеђује апсолутну сигурност
        болеснику који прима трансфузију.</p>

      <h2>Стратегије смањења употребе крви</h2>

      <p>Један од начина смањивања ризика од примене тудје крви је АУТОЛОГНА трансфузија. Код ове трансфузије давалац и прималац
        су иста особа односно реч је о трансфузији сопствене крви. Болесник може, нпр. да пре планиране операције да своју
        крв која ће бити сачувана и примењена, тј. враћена током операције, ако буде потребно.</p>

      <p>Друга је могућност трансфузија сопствене крви која је прикупљена, пречишћена и враћена током саме операције. Овај метод
        се назива "интраоперативно спашавање крви" и захтева употребу специјалних апарата. Треба знати да се ова врста трансфузије
        не примењује код малокрвних особа.</p>

      <p>У рестриктивну стратегију трансфузије спада и примена лекова који подстичу производњу црвених крвних зрнаца. Ови нови,
        скупи лекови, су права замена за трансфузије крви у анемичних болесника, поготово оних који су на хемодијализи.</p>

      <p>Данас се, током неких великих операција на срцу, користе, такође, и специјални лекови који регулишу процес згрушавања
        крви. Њихова примена има за циљ да спречи претерано крварење болесника током операције и тиме смањи потребу за трансфузијама
        крви.
      </p>

      <h2>Заменици крви</h2>

      <p>Већ годинама научници трагају за супстанцама које, као људски еритроцити, могу да преносе кисеоник, а нису ризичне
        за болесника. До данас су пронађене две супстанце са таквим жељеним потенцијалом. Једна од њих је чист хемоглобин,
        а друга је једињење које се назива перфлуорокарбон. Ови препарати се непрестано усавршавају и унапређују и данас
        већ постоји четврта генерација хемоглобинских препарата и друга генерација перфлуорокарбона.</p>

      <p>Прва генерација препарата хемоглобина се производила из престарелих људских еритроцита. У другој генерацији хемоглобин
        је био високо пречишћен и потицао је из говеђе крви. У трећој генерацији уведене су желатинозне партикуле које су
        обмотавале молекуле хемоглобина имитирајући еритроците. Последња генерација хемоглобина се производи генетским инжињерингом
        уз помоћ примитивних ћелија бактерија и биљака, које служе као мале фабрике. Иако су ови последњи препарати потпуно
        безбедни и ефикасни у преносу кисеоника код болесника који су нагло искрварили њихова клиничка примена још није одобрена
        ни у једној западној земљи. Једина земља у којој је 2001. године одобрена примена једног комерцијалног препарата
        говеђег хемоглобина је Јужна Африка.</p>

      <p>Други заменици за крв су перфлуорокарбони (ПФЦ) односно специјална једињења у којима се кисеоник изванредно раствара
        те тако лако преноси ткивима. И они, према клиничком искуству имају своја ограничења у примени. За сада је једино
        руско Министарство здравља одобрило њихову употребу..</p>

      <h2>Најновије откриће</h2>

      <p>Дански истраживачки тим је 1. априла 2007. године објавио откриће две врсте ензима који могу да еритроците крвних група
        А и Б претворе у еритроците крвне групе О. Овај проналазак је значајан јер се О крвна група може сматрати универзалном
        и као таква користити у случајевима дисбаланса између постојећих резерви крви и потреба болесника. Иначе, прва истраживања
        у овој области су почела још 1980. године.</p>



    </div>

  </blockquote>


  <div class="page_width">
    <ul>
      <li>
        <div class="images" style="width: 131px;clear: left; float: left; margin-right: 10px">
          <img src="http://www.nbti.org.rs/upload/images/banner_rdks.gif">
        </div>
      </li>
      <li>
        <div class="images" style="width: 141px;clear: left; float: left; margin-right: 10px">
          <img src="http://www.nbti.org.rs/upload/images/banner_crveni-krst.gif">
        </div>
      </li>
    </ul>
  </div>

</div>