<div id="wrapper">
  <div id="sidebar-wrapper">
    <div class="col-xl-4 col-lg-8 sidebar" id="sidebar" role="navigation">
      <ul *ngIf="_prikazaniZavod > -1" class="nav nav-tabs|pills" id="nav1Id">
        <li class="nav-item">
          <a class="nav-link active">{{_listaZavoda[_prikazaniZavod].idZavoda }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active">{{_listaZavoda[_prikazaniZavod].drzava}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active">{{_listaZavoda[_prikazaniZavod].grad}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active">{{_listaZavoda[_prikazaniZavod].adresa}}</a>
        </li>
      </ul>
      <ul *ngIf="_prikazaniZavod==-1" class="nav nav-tabs|pills" id="nav2Id">
        <li class="nav-item">
          <a class="nav-link active" style="background-color: red">IZABERI ZAVOD</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active">IDZavoda</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active">Drzava</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active">Grad</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active">Adresa zavoda</a>
        </li>
      </ul>
      <hr>
      <ul class="nav nav-tabs|pills">
        <li class="nav-item">
          <a (click)="saveClickHistory($event)" class="nav-link active" data-toggle="collapse" href="#listaNovosti"
             role="button" aria-expanded="false"
             aria-controls="listaNovosti">
            Novosti
          </a>
        </li>
        <!--<li class="nav-item">-->
          <!--<a class="nav-link active">Dogadjaji</a>  &lt;!&ndash; treba da se otvore informacije kad se pritisne &ndash;&gt;-->
        <!--</li>-->
        <li class="nav-item">
          <a (click)="saveClickHistory($event)" class="nav-link active" data-toggle="collapse"
             href="#informacijeComponent" role="button" aria-expanded="false"
             aria-controls="informacijeComponent">
            Informacije
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active">Posalji poruku</a> <!-- treba da se otvore informacije kad se pritisne -->
        </li>
        <hr>

        <!--ZAVODI         SU        OVDE      -->

        <li *ngFor="let _zavod of _listaZavoda" class="nav-item">
          <a class="nav-link active" (click)="prikaziOZavodu(_zavod)">{{_zavod.naziv}}</a>
          <!-- treba da se otvore informacije kad se pritisne -->
        </li>
      </ul>

      <p>
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#izborZavodaForm"
                aria-expanded="false" aria-controls="izborZavodaForm">Dodatni izbor zavoda
        </button>
      </p>
      <div class="collapse" id="izborZavodaForm">
        <div class="card card-body">
          <app-pretraga-zavod></app-pretraga-zavod>
        </div>
      </div>
    </div>
  </div>
  <div id="page-content-wrapper">
    <div class="page-content">
      <div class="container">
        <div class="row">
          <div class="col-md-12">

            <div class="collapse" id="listaNovosti">
              <div class="card card-body">
                <app-lista-novosti [_listaNovosti]="_listaPostova"></app-lista-novosti>
              </div>
            </div>

            <div class="collapse" id="informacijeComponent">
              <div class="card card-body">
                <app-zavod-informacije></app-zavod-informacije>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
