<div id="wrapper">
    <div id="sidebar-wrapper">
      <div class = "col-xl-4 col-lg-8 sidebar" id="sidebar" role="navigation">
        <ul class="nav nav-tabs|pills" id="navId">
          <li class="nav-item">
            <a class="nav-link active">ID</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active">Drzava</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active">Grad</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active">Adresa</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active">Novosti</a>  <!-- treba da se otvore informacije kad se pritisne -->
          </li>
          <li class="nav-item">
            <a class="nav-link active">Dogadjaji</a>  <!-- treba da se otvore informacije kad se pritisne -->
          </li>
          <li class="nav-item">
            <a class="nav-link active">Informacije</a> <!-- treba da se otvore informacije kad se pritisne -->
          </li>
        </ul>
      </div>
    </div>
  <div id="page-content-wrapper">
      <div class="page-content">
          <div class="container">
              <div class="row">
                  <div class="col-md-12">
                    <p>qwpdqwpdk</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>



