<p>
    Институт за трансфузију крви Србије је високоспецијализована, научноистраживачка и наставна здравствена установа, референтна за област трансфузиологије.

    Основан је 24. октобра 1944. године под називом Завод за трансфузију крви Србије, са задатком да прикупља крв добровољних давалаца на подручју тадашње савезне државе.
    
    Током протеклих шест деценија, захваљујући пре свега активностима Института, у Србији је успостављен систем организованог, добровољног, неплаћеног и анонимног давалаштва крви. Пратећи савремена светска достигнућа у области трансфузиологије, Институт је у рутинску праксу уводио савремене методе конзервације крви, различите видове давања крви, развијао концепт усмерене хемотерапије, а у складу са научним сазнањима сукцесивно уводио тестирања крви давалаца на маркере појединих инфективних болести које се могу пренети трансфузијом. У оквиру Института формирано је више лабораторија, основани су национални центри за хемофилију, типизацију ткива и фракционисање плазме. 
    Од оснивања до данас Институт је прикупио, процесирао, тестирао и дистрибуирао преко 2,5 милиона јединица крви, обавио преко 50 милиона лабораторијских анализа и фракционисао више од 500 тона људске плазме. 
    
     
    
</p>


<div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="http://www.transfuzijanis.rs/slike/mikroskop/01.jpg" alt="">
    <div class="card-body">
      <h4 class="card-title">Title</h4>
      <p class="card-text">Text</p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="holder.js/100x180/" alt="">
    <div class="card-body">
      <h4 class="card-title">Title</h4>
      <p class="card-text">Text</p>
    </div>
  </div>
</div>

<div class="btn-group btn-group-lg" role="group" aria-label="">
  <div class="btn-group" role="group" aria-label="">
    <button type="button" class="btn btn-primary|secondary|success|danger|warning|info|light|dark|link"></button>
    <button type="button" class="btn btn-primary|secondary|success|danger|warning|info|light|dark|link"></button>
    <button type="button" class="btn btn-primary|secondary|success|danger|warning|info|light|dark|link"></button>
  </div>
</div>