<div class="parent">
    <blockquote>
  
      <p>Pre 60 godine formirana je služba za transfuziju krvi u Nišu koja je na svom razvojnom putu prošla kroz više faza, od
        kojih je svaka ostavila tragove na njenu sadašnju fizionomiju.</p>
  
      <p>Rad Zavoda za transfuziju krvi Niš karakteriše kontinuitet u svim delatnostima uz intenzivno osavremenjivanje rada.</p>
  
  
  
      <p>Obezbedjivanje potrebnih količina krvi može se postići samo delatnošću dobro organizovane, medjusobno uskladjene i savremeno
        postavljene službe za transfuziju krvi koja kao takva, u celini dobija realnu mogućnost da odgovori zadacima koji joj
        se postavljaju, što su sve karakteristike Zavoda za transfuziju krvi Niš.</p>
  
  
  
      <p>Zahvaljujući ovakvim karakteristikama, Zavod za transfuziju krvi Niš stiče uslove da prati i primenjuje sva savremena
        dostignuća u svetskoj transfuziologiji, a to znači da se pacijentu obezbedjuje sve ono što je medicinski, etički i
        ekonomski najcelishodnije.</p>
  
      <p>Stručni rad Zavoda za transfuziju krvi Niš je pod stalnom kontrolom direktora, načelnika odeljenja i ostalih lekara,
        što dovodi do visokostručnog rada, a sve usled toga što Niški Zavod ima vrhunske stručnjake u svim oblastima transfuzije.</p>
  
  
  
      <p>Zavod intenzivno radi na omasovljavanju dobrovoljnog davalaštva krvi, separiranju krvi, uvodjenju novih analiza koje
        daju sigurnost primene krvi i krvnih derivata, uvodjenju novih tehnologija u svim oblastima, prenatalnoj zaštiti, HLA
        tipizaciji, terapijskoj i donorskoj plazmaferezi i citoferezi, ambulantnim i kućnim transfuzijama, kompjuterizaciji
        procesa rada, uključujući i rad zajedničkih službi, edukaciju svih profila medicinskih radnika i praćenje i učestvovanje
        u naučno istraživačkim radovima. </p>
  
  
  
      <p>Danas je Zavod za transfuziju krvi visokostručna, specijalizovana, savremena institucija.</p>
  
  
  
      <p>Razvoj i osavremenjivanje Zavoda i njegov prelazak iz sporedne delatnosti u savremenu, visokospecijalizovanu službu zasnovanu
        na naučnim osnovama, podrazumeva bezbedno i efikasno lečenje bolesnika u svim granama medicine.</p>
  
  
  
    </blockquote>
  
  
    <p class="card-group">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="http://www.transfuzijanis.rs/slike/galerija12/01.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Zgrada zavoda za transfuziju</p>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="http://www.transfuzijanis.rs/slike/galerija12/01.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Zgrada zavoda za transfuziju</p>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="http://www.transfuzijanis.rs/slike/galerija12/01.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Zgrada zavoda za transfuziju</p>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="http://www.transfuzijanis.rs/slike/galerija12/01.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Zgrada zavoda za transfuziju</p>
        </div>
      </div>
      
  </div>