<div class="parent">
  <blockquote>

    <h1>O procesu davanja krvi</h1>

    <div class="text">

      <p>Цео поступак од доласка даваоца до напуштања службе траје око 30 минута, а састоји се од: попуњавања Упитника за даваоца,
        регистрације, одређивања нивоа хемоглобина, лекарског прегледа, давања крви из вене у прегибу лакта и послужења захвалним
        оброком.
        <br> Информације о процедури давања крви су сажете у штампаном Упутству за даваоце који добија сваки давалац при доласку.</p>

      <h2>Упутство за даваоце</h2>

      <ol>
        <li>Молимо Вас да попуните упитник</li>
        <li>Предајте упитник службеном лицу које ради на регистрацији давалаца</li>
        <li>Медицински техничар ће из капи крви узетој из Вашег прста одредити ниво хемаглобина</li>
        <li>Лекар ће Вас прегледати и одлучити да ли ћете данас дати крв</li>
        <li>Сетом за једнократну употребу медицински техничар ће узети крв</li>
        <li>Након давања крви останите код нас још десетак минута и послужите се оброком захвалности</li>
        <li>Завој на прегибу лакта немојте скидати следећа два сата</li>
        <li>У интересу Вашег здравља је да у наредна два сата не заплаите цигарету</li>
        <li>Уколико сматрате да Ваша крв може да нашкоди болеснику, од тренутак доласка до напуштања места прикупљања крви можете
          да обавестите одговорне да Вашу крв не употребе.</li>
      </ol>

      <p>Ваша крв биће употребљена благовремено, што је од изузетне важности за здравље болесника који ће је примти.</p>

      <p>Ваша крв ће бити детаљно испитана и на болести које се могу пренети и трансфузијом: СИДА, жутица Б и Ц и сифилис.</p>

      <p>Ове анализе за Вас су бесплатне, а раде се из узорка крви сваког даваоца после сваког давања крви.</p>

      <p>При попуњавању
        <em>Упитника за даваоца,</em> који се састоји од низа питања на које је неопходно дати искрене одговоре јер су у функцији
        бриге и за здравље даваоца који жели да дарује крв као и болесника коме ће та крв бити примењена својим потписом
        давалац потврђује да савесно и са пуном одговорношћу стоји иза датих одговора. Давање крви не треба да буде одраз
        само жеље да се помогне другима, већ и свести о потенцијалним ризицима примене дате крви. Особа која жели да давањем
        крви помогне другима мора бити сигурна да овим чином неће угрозити онога коме жели да помогне. Ова сигурност се постиже
        едукацијом и самоискључивањем у случају постојања ризичних стања и понашања као и искреним одговорима на питања при
        лекарском прегледу.</p>



    </div>

  </blockquote>

</div>