<div id="wrapper">
  <div id="sidebar-wrapper">
    <div class="col-xl-4 col-lg-8 sidebar" id="sidebar" role="navigation">
      <ul class="nav nav-tabs|pills" id="navId">
        <li class="nav-item">
          <a class="nav-link active">Ime</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active">Prezime</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active">Email</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active">Krvna grupa</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active">Broj davanja</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active">Datum poslednjeg davanja</a>
        </li>
        <hr>
        <li class="nav-item">
          <a class="nav-link active" data-toggle="collapse" aria-expanded="false" data-target="#tabSaPracenimNovostima"
          (click)="saveClickHistory($event)">Novosti</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" data-toggle="collapse" aria-expanded="false" data-target="#tabSaProcitanimObavestenjima"
          (click)="saveClickHistory($event)">Procitana obavestenja</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" data-toggle="collapse" aria-expanded="false" data-target="#tabSaNeprocitanimObavestenjima"
          (click)="saveClickHistory($event)">Neprocitana obavestenja</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" data-toggle="collapse" aria-expanded="false" data-target="#tabIstorijeDavanja"
          (click)="saveClickHistory($event)">Istorija davanja</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" data-toggle="collapse" aria-expanded="false" data-target="#tabIstorijePrisustvaDogadjajima"
          (click)="saveClickHistory($event)">Moji dogadjaji</a>
        </li>
        <hr>
      </ul>
    </div>
  </div>
  <div id="page-content-wrapper">
    <div class="page-content">
      <div class="container">

        <!-- <app-privilegovana-strana></app-privilegovana-strana> -->


        <div class="btn-toolbar" role="toolbar" aria-label="" *ngIf="_authService.getUserType().toLowerCase()=='zaposleni'">
            <div class="btn-group" role="group" aria-label="">
              <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#dodavanje_korisnika_form"
                    aria-expanded="false" aria-controls="dodavanje_korisnika_form" (click)="saveClickHistory($event)">
              Dodavanje korisnika
            </button>
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#dodavanje_novosti_form"
                    aria-expanded="false" aria-controls="dodavanje_novosti_form" (click)="saveClickHistory($event)">
              Dodavanje novosti
            </button>
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#belezenje_davanja_form"
                    aria-expanded="false" aria-controls="belezenje_davanja_form" (click)="saveClickHistory($event)">
              Belezenje davanja krvi
            </button>
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#brisanje_naloga_form"
                    aria-expanded="false" aria-controls="brisanje_naloga_form" (click)="saveClickHistory($event)">
              Brisanje naloga
            </button>
            </div>
          </div>
          <div class="collapse" id="dodavanje_korisnika_form">
            <div class="card card-body">
              <app-user-form></app-user-form>
            </div>
          </div>
          <div class="collapse" id="dodavanje_novosti_form">
            <div class="card card-body">
              <app-novost-form></app-novost-form>
            </div>
          </div>
          <div class="collapse" id="belezenje_davanja_form">
            <div class="card card-body">
              <app-blezenje-davanja-form></app-blezenje-davanja-form>
            </div>
          </div>
          <div class="collapse" id="brisanje_naloga_form">
            <div class="card card-body">
              <app-brisanje-naloga> </app-brisanje-naloga>
              </div>
          </div>
          



        <div class="row">
          <div class="col-md-12">

            <div class="row">
              <div class="col">
                <div class="collapse multi-collapse" id="tabSaPracenimNovostima">
                  <div class="card card-body">

                    <div class="col-lg-8 mx-auto" *ngFor="let _novost of _novosti">
                      <h2 class="card-title">{{_novost.naslov}}</h2>
                      <p class="card-text">{{_novost.sadrzaj}}</p>
                      <a href="#" class="btn btn-primary">Procitaj jos</a>
                    </div>

                  </div>
                </div>
              </div>
              <div class="col">
                <div class="collapse multi-collapse" id="tabSaProcitanimObavestenjima">
                  <div class="card card-body">

                    <div class="col-lg-8 mx-auto" *ngFor="let _obavestenje of _obavestenja.procitana">
                      <h2 class="card-title">{{_obavestenje.naslov}}</h2>
                      <p class="card-text">{{_obavestenje.sadrzaj}}</p>
                      <a href="#" class="btn btn-primary">Procitaj jos</a>
                    </div>

                  </div>
                </div>
              </div>
              <div class="col">
                <div class="collapse multi-collapse" id="tabSaNeprocitanimObavestenjima">
                  <div class="card card-body">

                    <div class="col-lg-8 mx-auto" *ngFor="let _obavestenje of _obavestenja.neprocitana">
                      <h2 class="card-title">{{_obavestenje.naslov}}</h2>
                      <p class="card-text">{{_obavestenje.sadrzaj}}</p>
                      <a href="#" class="btn btn-primary">Procitaj jos</a>
                    </div>

                  </div>
                </div>
              </div>
              <div class="col">
                <div class="collapse multi-collapse" id="tabIstorijeDavanja">
                  <div class="card card-body">
                    <h3 *ngFor="let _datum of _user.istorijaDavanja">
                      {{_datum}}
                    </h3>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="collapse multi-collapse" id="tabIstorijePrisustvaDogadjajima">
                  <div class="card card-body">
                    istorija prisustvovanja dogadjajima
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
