<div id="wrapper">
  <div id="sidebar-wrapper">
    <div class="col-xl-4 col-lg-8 sidebar" id="sidebar" role="navigation">
      <ul class="nav nav-tabs|pills" id="navId">
        <li class="nav-item">
          <a class="nav-link active">{{_user.ime}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active">{{_user.prezime}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active">{{_user.email}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active">{{_user.krvnaGrupa}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active">{{_user.bojDavaoca}}</a>
        </li>
        <li class="nav-item">
          <!--<a class="nav-link active">{{_user.davanja.pop().date}}</a>-->
        </li>
        <hr>
        <li class="nav-item">
          <a class="nav-link active" data-toggle="collapse" aria-expanded="false" data-target="#tabSaPracenimNovostima"
             (click)="saveClickHistory($event)">Novosti</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" data-toggle="collapse" aria-expanded="false"
             data-target="#tabSaProcitanimObavestenjima"
             (click)="saveClickHistory($event)">Procitana obavestenja</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" data-toggle="collapse" aria-expanded="false"
             data-target="#tabSaNeprocitanimObavestenjima"
             (click)="saveClickHistory($event)">Neprocitana obavestenja</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" data-toggle="collapse" aria-expanded="false" data-target="#tabIstorijeDavanja"
             (click)="saveClickHistory($event)">Istorija davanja</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" data-toggle="collapse" aria-expanded="false"
             data-target="#tabIstorijePrisustvaDogadjajima"
             (click)="saveClickHistory($event)">Moji dogadjaji</a>
        </li>
        <hr>
        <li class="nav-item">
          <a class="nav-link active" data-toggle="collapse" aria-expanded="false"
             data-target="#pregled_poruka_form"
             (click)="saveClickHistory($event)">Pregled poruka</a>
        </li>
        <hr>
      </ul>
    </div>
  </div>
  <div id="page-content-wrapper">
    <div class="page-content">
      <div class="container">

        <!-- <app-privilegovana-strana></app-privilegovana-strana> -->


        <div class="btn-toolbar" role="toolbar" aria-label=""
             *ngIf="_authService.getUserType().toLowerCase()=='zaposleni'">
          <div class="btn-group" role="group" aria-label="">
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#dodavanje_korisnika_form"
                    aria-expanded="false" aria-controls="dodavanje_korisnika_form" (click)="saveClickHistory($event)">
              Dodavanje korisnika
            </button>
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#dodavanje_novosti_form"
                    aria-expanded="false" aria-controls="dodavanje_novosti_form" (click)="saveClickHistory($event)">
              Dodavanje novosti
            </button>
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#belezenje_davanja_form"
                    aria-expanded="false" aria-controls="belezenje_davanja_form" (click)="saveClickHistory($event)">
              Belezenje davanja krvi
            </button>
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#brisanje_naloga_form"
                    aria-expanded="false" aria-controls="brisanje_naloga_form" (click)="saveClickHistory($event)">
              Brisanje naloga
            </button>

          </div>
        </div>
        <div class="collapse" id="dodavanje_korisnika_form">
          <div class="card card-body">
            <app-user-form></app-user-form>
          </div>
        </div>
        <div class="collapse" id="dodavanje_novosti_form">
          <div class="card card-body">
            <app-novost-form></app-novost-form>
          </div>
        </div>
        <div class="collapse" id="belezenje_davanja_form">
          <div class="card card-body">
            <app-blezenje-davanja-form></app-blezenje-davanja-form>
          </div>
        </div>
        <div class="collapse" id="brisanje_naloga_form">
          <div class="card card-body">
            cetvrti veliki neki pasusAnim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
            richardson ad
            squid. Nihil anim
            keffiyeh
            helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
          </div>
        </div>
        <div class="collapse" id="pregled_poruka_form">
          <div class="card card-body">
            <app-poruka *ngFor="let _poruka of _primljene_poruke" ></app-poruka>
          </div>
        </div>


        <div class="row">
          <div class="col-md-12">

            <div class="row">
              <div class="col">
                <div class="collapse multi-collapse" id="tabSaPracenimNovostima">
                  <div class="card card-body">
                    <app-lista-novosti [_listaNovosti]="_novosti"></app-lista-novosti>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="collapse multi-collapse" id="tabSaProcitanimObavestenjima">
                  <div class="card card-body">

                    <app-lista-novosti [_listaNovosti]="_obavestenja.procitana"></app-lista-novosti>

                  </div>
                </div>
              </div>
              <div class="col">
                <div class="collapse multi-collapse" id="tabSaNeprocitanimObavestenjima">
                  <div class="card card-body">

                    <app-lista-novosti [_listaNovosti]="_obavestenja.neprocitana"></app-lista-novosti>

                    <div class="container example2">
                      <div class="row">
                        <div class="col-md-2 col-xs-2 col1 center-block">
                          <button class="btn btn-primary center-block" (click)="getNextNovosti(2)"> Jos novosti</button>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
              <div class="col">
                <div class="collapse multi-collapse" id="tabIstorijeDavanja">
                  <div class="card card-body">
                    <h3 *ngFor="let _datum of _user.davanja">
                      {{_datum.date}}
                    </h3>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="collapse multi-collapse" id="tabIstorijePrisustvaDogadjajima">
                  <div class="card card-body">
                    <app-lista-novosti [_listaNovosti]="_istorijaDogadjaja"></app-lista-novosti>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
