<!--
<div id="mySidenav" class="sidenav">
    <a href="#">About</a>
    <a href="#">Services</a>
    <a href="#">Clients</a>
    <a href="#">Contact</a>
</div> -->

<!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->

<div class="container-fluid">
  <div class="row row-offcanvas row-offcanvas-left">
      <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation" style="margin: 0px; padding: 0px;">
          <div class="sidebar-nav">
              <ul class="nav" style="background-color: lightgray; height: 100vh; width: 172.25px">
                  <li class="active"><a href="#">Link</a></li>
                  <li><a href="#">Link</a></li>
                  <li><a href="#">Link</a></li>
                  <li class="nav-divider"></li>
                  <li><a href="#">Link</a></li>
                  <li><a href="#">Link</a></li>
                  <li><a href="#">Link</a></li>
                  <li class="nav-divider"></li>
                  <li><a href="#">Link</a></li>
                  <li><a href="#">Link</a></li>
              </ul>
          </div>
          <!--/.well -->
      </div>
      <!--/span-->

      <div>
          <ul>
              <li><h2>{{user.ime}}</h2></li>
              <li><h2>{{user.prezime}}</h2></li>
          </ul>
      </div>
  </div>
  <!--/row-->



  <hr>
</div>
<!--/.container-->
