<div class="parent">
  <blockquote>

    <div id="content_page">

      <div class="title">

        <h1>О нама</h1>
        <p>Институт за трансфузију крви Србије је високоспецијализована, научноистраживачка и наставна здравствена установа,
          референтна за област трансфузиологије.</p>

        <p>Основан је 24. октобра 1944. године под називом Завод за трансфузију крви Србије, са задатком да прикупља крв добровољних
          давалаца на подручју тадашње савезне државе.</p>

        <p>Током протеклих шест деценија, захваљујући пре свега активностима Института, у Србији је успостављен систем организованог,
          добровољног, неплаћеног и анонимног давалаштва крви. Пратећи савремена светска достигнућа у области трансфузиологије,
          Институт је у рутинску праксу уводио савремене методе конзервације крви, различите видове давања крви, развијао
          концепт усмерене хемотерапије, а у складу са научним сазнањима сукцесивно уводио тестирања крви давалаца на маркере
          појединих инфективних болести које се могу пренети трансфузијом. У оквиру Института формирано је више лабораторија,
          основани су национални центри за хемофилију, типизацију ткива и фракционисање плазме.&nbsp;
          <br> Од оснивања до данас Институт је прикупио, процесирао, тестирао и дистрибуирао преко 2,5 милиона јединица крви,&nbsp;обавио
          преко&nbsp;50 милиона лабораторијских анализа и фракционисао више од 500 тона људске плазме.&nbsp;</p>

      </div>
      <!-- Download List -->



    </div>

  </blockquote>


  <p class="card-group" style="margin: 10px">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="http://www.nbti.org.rs/upload/images/_zin3812_copy.jpg" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">Zgrada zavoda za transfuziju</p>
      </div>
  

</div>