<div class="card" style="margin-left: 20px;">
  <div class="card-header" role="tab">
    <h2 class="mb-0">
      <a type="button" class=" btn btn-success btn-lg com-x" data-parent="#accordion"
         data-toggle="collapse" href="#{{_dataId}}" aria-expanded="false" style="width: 98.5%">
        {{_naslov}}
      </a>
    </h2>
  </div>

  <div id="{{_dataId}}" class="collapse right_size" role="tabpanel">
    <div class="container">
      <h1>{{_naslov}}</h1>
      <blockquote>
        <div>{{_sadrzaj}}</div>
      </blockquote>
    </div>

    <div *ngIf="_authService.loggedIn() && _tip_novosti=='novosti'" class="btn-group" role="group"
         aria-label="Basic example">

      <button type="button" class="btn btn-info" (click)="subscribeToPost()" *ngIf="!subscribedToPost()">Prati novost
      </button>

      <button *ngIf="subscribedToPost()" type="button" class="btn btn-danger"
              (click)="unsubscribeFromPost()">Prestani sa
        pracenjem
      </button>

      <a type="button" class=" btn btn-default" *ngIf="_authService.getUserType().toLowerCase()=='zaposleni'"
         data-toggle="collapse" href="#{{_dataId}}obavForm" aria-expanded="false">
        Dodaj obavestenje
      </a>

    </div>

    <div class="collapse" id="{{_dataId}}obavForm">
      <div class="card card-body">
        <app-obavestenje-forma [idPosta]="_dataId"></app-obavestenje-forma>
      </div>
    </div>

  </div>
</div>


