<div class="card">
  <div class="card-header" role="tab">
    <h2 class="mb-0">
      <a type="button" class=" btn btn-secondary btn-block" data-parent="#accordion"
              data-toggle="collapse" href="#{{_dataId}}" aria-expanded="false">
        {{_naslov}}
      </a>
    </h2>
  </div>

  <div id="{{_dataId}}" class="collapse" role="tabpanel">
    <div class="container">
      <h1>Blockquotes</h1>
      <p>The blockquote element is used to present content from another source:</p>
      <blockquote>
        <div>{{_sadrzaj}}</div>
        <footer>From WWF's website</footer>
      </blockquote>
    </div>

    <div *ngIf="!_authService.loggedIn()" class="btn-group" role="group" aria-label="Basic example">

      <button type="button" class="btn btn-info" (click)="_postsManager.subscribeToPost(_dataId)">Prati novost
      </button>

      <button *ngIf="_postsManager.userSubscribedToPost(_dataId)" type="button" class="btn btn-danger"
              (click)="_postsManager.unsubscribeFromPost(_dataId)">Prestani sa
        pracenjem
      </button>

      <button *ngIf="_authService.getUserType().toLowerCase()=='zaposleni'" type="button" class="btn btn-default">Dodaj
        obavestenje
      </button>
    </div>

  </div>
</div>


